.advantage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $black;
  position: relative;
  padding-block-start: 0;
  padding-block-end: 31px;
  min-height: 124px;
  max-width: 260px;


  @include tablet {
    max-width: initial;
    padding-block-end: 0;
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: 38px 1fr;
    row-gap: 18px;
    align-self: start;
  }

  @include desktop {
    row-gap: rem(17.5);
  }
}

.advantage__icon {
  margin-inline-start: -5px;
  min-width: 55px;
  max-height: 38px;
  fill: #63d1bb;

  @include tablet {
    margin-inline-start: 0;
    display: inline-block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
  }
}

.advantage__text {
  max-width: 250px;
  line-height: calc(20 / 17);

  @include tablet {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    max-width: 301px;
    font-size: 20px;
  }

  &--other-width {
    @include tablet {
      max-width: 280px;
    }
  }
}
