.advantages {
  @include reset-list-style;
  padding-block-start: 23px;
  padding-block-end: 10px;
  font-size: 17px;
  font-weight: bold;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 30px;
  }

  @include desktop {
    column-gap: 20px;
  }
}

.advantages__item {
  margin: 0 auto;

  @include tablet {
    margin: initial;
  }
}
