.assortiment {
  padding-block-start: 30px;
  padding-block-end: 20px;

  @include section-wrapper;

  @include tablet {
    padding-block-start: 66px;
    padding-block-end: 10px;
  }

  @include desktop {
    padding-block-start: 110px;
    padding-block-end: 30px;
  }
}

.assortiment__list {
  @include reset-list-style;
  display: grid;
  gap: 30px;

  @include tablet {
    gap: 54px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 50px;
  }
}
