.berryes {
  @include reset-list-style;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  column-gap: 24px;


  @include tablet {
    column-gap: 52px;
    padding-inline: 68px;
    row-gap: 52px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    padding-inline: 0;
  }

  &__item {
    margin-block-end: 24px;

    @include tablet {
      margin: 0;
    }

    &:last-of-type {
      margin-block-end: 0;
    }
  }
}
