.branch {
  &::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";
    width: 228px;
    height: 32px;
    background-image: url("../img/icons/two-branchs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include tablet {
      width: 296px;
      height: 42px;
    }
  }
}
