.catalog {
  @include section-wrapper;
  position: relative;
  padding-block: 64px 90px;

  @include tablet {
    padding-block: 100px 142px;
  }

  &__title {
    margin-block-end: 64px;

    @include tablet {

      margin-block-end: 72px;
    }

    @include desktop {}
  }
}
