.catalog {
  position: relative;
  padding-block: 64px 69px;

  @include tablet {
    padding-block: 101px 142px;
  }

  &__title {
    margin-block-end: 64px;

    @include tablet {
      margin-block-end: 71px;
    }

    @include desktop {
      margin-block-end: 91px;
    }
  }
}
