.contact-info {
  font-size: 14px;
  line-height: calc(30 / 14);
  max-width: 350px;

  @include tablet {
    font-size: 17px;
    line-height: calc(30 / 17);
    max-width: none;
    display: flex;
    justify-content: flex-start;
    gap: 31px;
  }

  @include desktop {
    max-width: 300px;
    display: initial;
  }
}

.contact-info__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 26px;

  @include tablet {
    justify-content: flex-start;
    width: 45%;
  }

  @include desktop {
    gap: 25px;
    width: 100%;
  }
}

.contact-info__name {
  width: 1fr;
  margin-block-end: 30px;
}

.contact-info__value {
  width: 183px;

  @include tablet {
    width: 220px;
  }

  @include desktop {
    width: auto;
  }
}

.contact-info__value-link {
  color: inherit;
  text-decoration-color: #62d1ba;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;

  @include tablet {
    text-underline-offset: 7px;
  }

  @include desktop {
    text-underline-offset: 14px;
  }

  &:hover {
    color: #46c1ae;
    text-decoration-color: #46c1ae;
  }

  &:active {
    text-decoration: none;
  }
}

.contact-info__value-addres {
  font-style: normal;
}
