.contacts {
  padding-block: 86px 64px;

  @include tablet {
    padding-block: 72px 100px;
  }

  @include desktop {
    @include section-wrapper;
    padding-block: 100px 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }

  &__wrapper {
    @include section-wrapper;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(auto-fill, min-content);
      column-gap: 20px;
    }

    @include desktop {
      margin: 0;
      padding: 0;
      grid-column: 4 / -1;
    }
  }

  &__title {
    margin-block-end: 64px;

    @include tablet {
      margin-block-end: 72px;
      max-width: 350px;
      grid-column: 1 / -1;
      justify-self: center;
    }

    @include desktop {
      margin-block-end: 72px;
      max-width: 380px;
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  &__desc {
    text-align: center;
    margin-block-end: 34px;
    font-size: 16px;
    line-height: calc(19 / 16);

    @include tablet {
      font-size: 20px;
      line-height: calc(23 / 20);
      grid-column: 3 / -1;
      justify-self: start;
    }
  }

  &__info-item {
    position: relative;
    margin: 0;
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(16 / 14);
    font-style: normal;
    margin-block-end: 18px;
    margin-block-end: 18px;
    padding-inline-start: 36px;

    @include tablet {
      font-size: 16px;
      line-height: calc(20 / 16);
      grid-column: 3 / -1;
      justify-self: start;
    }

    &:hover:not(&--addres) {
      color: $green-hover;
    }

    &:active {
      color: $green;
    }
  }

  &__info-item:last-of-type:not(&__info-item:first-of-type) {
    margin-block-end: 40px;
  }

  .contacts__info-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
  }

  &__map {
    @include desktop {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }
  }
}
