.content {
  background-color: $white;
}

.content__special {
  @include section-wrapper;
}

.content__advantages {
  background-color: $white;
  padding-block-start: 30px;

  @include tablet {
    padding-block-start: 54px;
    padding-block-end: 50px;
  }

  @include desktop {
    padding-block-start: 68px;
    padding-block-end: 57px;
  }
}

.content__advantages-wrapper {
  @include section-wrapper;

  @include desktop {
    display: grid;
    grid-template-columns: 175px 680px 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.content__advantages-title {
  color: $black;
  max-width: 260px;
  font-size: 25px;
  line-height: calc(30 / 25);
  font-weight: bold;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: 5px;

  @include tablet {
    max-width: 420px;
    font-size: 43px;
    line-height: calc(50 / 43);
    margin-inline-start: initial;
    margin-inline-end: initial;
    margin-block-end: 18px;
  }

  @include desktop {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    font-size: 53px;
    line-height: calc(57 / 53);
    margin-block-end: 16px;
  }
}

.content__advantages-list {
  max-width: 900px;

  @include desktop {
    grid-column: 2 / -2;
    grid-row: 2 / -1;
  }
}

.content__reviews {
  @include section-wrapper;
}
