.contacts {
  padding-block: 86px 62px;

  @include tablet {
    padding-block: 72px 100px;
  }

  @include desktop {
    @include section-wrapper;
    padding-block: 100px 81px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }

  &--form {
    @include mobile-only {
      padding-block-start: 61px;
    }
  }

  .contacts__wrapper {
    @include section-wrapper;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(auto-fill, min-content);
      column-gap: 20px;
    }

    @include desktop {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
      margin: 0;
      padding: 0;
      grid-column: 4 / -1;
    }
  }
}

.contacts__title {
  margin-block-end: 64px;
  padding-inline-end: 5px;

  @include tablet {
    padding-inline-end: 15px;
    margin-block-end: 72px;
    max-width: 350px;
    grid-column: 1 / -1;
    justify-self: center;
  }

  @include desktop {
    padding-inline-end: 12px;
    margin-block-start: 21px;
    margin-block-end: 49px;
    max-width: 380px;
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.contacts__desc {
  text-align: center;
  margin-block-end: 34px;
  font-size: 16px;
  line-height: calc(19 / 16);

  @include tablet {
    font-size: 20px;
    line-height: calc(23 / 20);
    grid-column: 3 / -1;
    justify-self: start;
    margin-block-end: 27px;
    padding-inline-start: 6px;
  }

  @include desktop {
    grid-column: 2 / -1;
    margin-block-end: 27px;
    padding-inline-start: 3px;
  }
}

.contacts__info-item {
  position: relative;
  margin: 0;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: calc(16 / 14);
  font-style: normal;
  margin-block-end: 18px;
  padding-inline-start: 31px;

  @include tablet {
    font-size: 16px;
    line-height: calc(20 / 16);
    grid-column: 3 / -1;
    justify-self: start;
    padding-inline-start: 42px;
    margin-block-end: 23px;
  }

  @include desktop {
    padding-inline-start: 38px;
    grid-column: 2 / -1;
  }

  &--tel {
    margin-block-end: 29px;

    @include tablet {
      margin-block-end: 25px;
    }
  }

  &--mail {
    margin-block-end: 35px;

    @include tablet {
      margin-block-end: 45px;
    }
  }

  &:hover:not(&--addres) {
    color: $green-hover;
  }

  &:active {
    color: $green;
  }
}

.contacts__info-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;

  @include tablet {
    left: 14px;
  }

  @include desktop {
    left: 10px;
  }
}

.contacts__map {
  @include desktop {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}
