.field {
  position: relative;

  @include tablet {
    display: flex;
    gap: 24px;
  }

  &--textarea {
    width: 100%;
    padding: 17px;
    height: 142px;
    resize: none;
    border: 2px solid $black;
    color: $black;
    font-size: 17px;
    line-height: calc(18 / 17);

    @include tablet {
      padding: 13px;
      font-size: 19px;
    }
  }

  &--textarea::placeholder {
    color: rgba($black, 0.3);
    font-size: 17px;
    line-height: calc(18 / 17);

    @include tablet {
      font-size: 19px;
    }
  }

  &--textarea:hover {
    border-color: #62d1ba;
  }

  &--textarea:focus {
    outline: none;
    border-color: #62d1ba;
  }
}

.field__item {
  appearance: none;
  display: block;
  width: 100%;
  border: none;
  padding: 16px 17px 15px 0;
  background-color: transparent;
  font-size: 17px;
  line-height: calc(18 / 17);
  box-shadow: none;
  border-block-end: 2px solid $black;

  @include tablet {
    font-size: 19px;
    line-height: calc(19 / 18);
    padding: 16px 18px 14px;
  }

  &:hover {
    border-block-end-color: rgba(#62d1ba, 0.5);
  }

  &:active {
    border-block-end-color: rgba(#62d1ba, 1);
  }

  &:focus {
    border-block-end-color: rgba(#62d1ba, 1);
    outline: none;
  }

  &--icon-place {
    padding-inline-end: 45px;
    padding-block-start: 14px;
    padding-block-end: 16px;

    @include tablet {
      padding-inline-end: 70px;
    }
  }

  &--mail {
    padding-block-start: 15px;
    padding-block-end: 15px;
  }

  &--icon-place:hover + .field__item-icon-wrapper .field__item-icon {
    fill: #62d1ba;
  }

  &--icon-place:active + .field__item-icon-wrapper .field__item-icon {
    fill: #62d1ba;
  }
}

.field__item:-webkit-autofill,
.field__item:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  -webkit-text-fill-color: #f89f04;
}

.field__item::placeholder {
  color: rgba($black, 0.3);
  font-size: 17px;
  line-height: calc(18 / 17);

  @include tablet {
    font-size: 19px;
    line-height: calc(19 / 18);
  }
}

.field__item-select {
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1;
  width: 1;
  height: 1;
}

.field__item-icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  min-width: 38px;
  max-width: 20%;
  height: 100%;
}

.field__item-icon {
  fill: #cccccc;
  margin-block-end: 5px;

  @include tablet {
    margin-inline-end: 25px;
  }

  @include desktop {
    margin-inline-end: 5px;
  }

  &--mail {
    margin-block-end: 0;
  }
}

.field__name {
  color: $black;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 17px;
  line-height: calc(18 / 17);
  font-weight: bold;

  @include tablet {
    font-size: 19px;
  }

  &:hover .field__thing-item {
    border-color: #62d1ba;
  }

  &:active .field__thing-item {
    border-color: rgba($color: $black, $alpha: 0.3);
  }
}

.field__thing-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid $off-black;
  width: 38px;
  height: 38px;
  margin-inline-end: 23px;

  @include tablet {
    width: 52px;
    height: 52px;
  }

  &::before {
    position: relative;
    content: "";
    opacity: 0;
  }

  &:hover::before {
    transform: rotate(-45deg) scale(105%);
  }

  &--radio {
    width: 40px;
    height: 40px;
    margin-inline-end: 20px;
    border-radius: 50%;

    @include tablet {
      margin-inline-end: 28px;
      width: 50px;
      height: 50px;
    }
  }

  &--radio::before {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #62d1ba;

    @include tablet {
      width: 20px;
      height: 20px;
    }
  }

  &--checkbox {
    @include tablet {
      margin-inline-end: 28px;
    }
  }

  &--checkbox::before {
    border: 2px solid $black;
    border-block-start: none;
    border-inline-end: none;
    top: -10%;
    transform: rotate(-45deg);
    width: 23px;
    height: 16px;

    @include tablet {
      width: 30px;
      height: 17px;
    }
  }
}

.field__item-select:checked + .field__thing > .field__thing-item::before {
  opacity: 1;
}

.field__item-select:focus-visible + .field__thing {
  outline: 2px solid rgba(#62d1ba, 0.7);
  outline-offset: -2px;
}

.field__item:focus-visible + .field__item-icon-wrapper .field__item-icon {
  fill: #62d1ba;
}
