.fieldset {
  padding-block-start: 24px;

  @include tablet {
    @include section-wrapper;
    display: grid;
    grid-template-columns: minmax(150px, min-content) 1fr;
    column-gap: 20px;
    row-gap: 34px;
    padding: 50px;
  }

  @include desktop {
    column-gap: 24px;
  }

  &--type {
    @include tablet {
      column-gap: 20px;
      padding-block-start: 64px;
    }

    @include desktop {
      grid-template-columns: 150px 700px 1fr;
      column-gap: 25px;
    }
  }

  &--color {
    @include mobile-only {
      column-gap: 17px;
      padding-block-start: 28px;
    }

    @include desktop {
      padding-block-start: 48px;
      padding-block-end: 52px;
      grid-template-columns: 150px 770px 1fr;
      column-gap: 25px;
    }
  }

  &--full-name {
    @include mobile-only {
      padding-block-start: 29px;
    }

    @include tablet {
      column-gap: 18px;
    }

    @include desktop {
      padding-block-start: 50px;
      grid-template-columns: 150px 700px 1fr;
      column-gap: 25px;
    }
  }

  &--contacts {
    @include mobile-only {
      padding-block-start: 29px;
    }

    @include tablet {
      row-gap: 20px;
    }

    @include desktop {
      grid-template-columns: 150px 700px 1fr;
      column-gap: 25px;
      padding-block-end: 49px;
    }
  }

  &--message {
    @include mobile-only {
      padding-block-start: 30px;
    }

    @include tablet {
      column-gap: 17px;
      padding-block-end: 51px;
    }

    @include desktop {
      grid-template-columns: 150px 700px 1fr;
      column-gap: 25px;
      padding-block-end: 48px;
    }
  }
}

.fieldset__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 26px;

  @include tablet {
    align-self: start;
    min-height: 52px;
  }

  @include desktop {
    padding-inline-start: 60px;
  }

  &--label {
    margin: 0;
  }

  &--color {
    margin-block-end: 18px;
  }

  &--full-name {
    margin-block-end: 22px;
  }

  &--message {
    margin-block-end: 16px;
  }

  &--contacts {
    @include desktop {
      grid-column: 1 / 2;
    }
  }
}

.fieldset__title-text {
  max-width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: #63d1ba;
  flex-shrink: 0;
}

.fieldset__title::after {
  content: "";
  flex-basis: calc(200 / 260 * 100%);
  height: 1px;
  background-color: #63d1ba;
  margin-inline-start: 21px;

  @include tablet {
    display: none;
  }
}

.fieldset__group {
  display: grid;
  gap: 12px;
  justify-content: start;

  @include tablet {
    padding: 0;
    gap: 24px;
  }

  &--type {
    @include tablet {
      row-gap: 26px;
    }
  }

  &--some-cols {
    gap: 23px;
    justify-content: stretch;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 23px;
    }
  }
}

.fieldset__group-text {
  justify-content: initial;
  row-gap: 23px;

  @include tablet {
    row-gap: 24px;
  }
}

.fieldset__item--phone {
  margin-block-end: 30px;

  @include tablet {
    margin-block-end: 5px;
  }
}
