.form {
  background-color: $white;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  padding-block-start: 17px;
  padding-block-end: 55px;

  @include tablet {
    padding-block-start: 54px;
    padding-block-end: 49px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  @include desktop {
    padding-block-start: 99px;
  }
}

.form__section {
  @include tablet {
    background-color: #f1f1f1;
  }
}

.form__desc {
  @include tablet {
    @include section-wrapper;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 150px 700px 1fr;
    column-gap: 25px;
  }
}

.form__desc-text {
  font-size: 13px;
  line-height: calc(20 / 13);

  @include tablet {
    font-size: 17px;
    line-height: calc(30 / 17);
  }

  @include desktop {
    grid-column: 2 / -2;
  }
}

.form__submit-wrapper {
  padding-block-start: 11px;

  @include tablet {
    @include section-wrapper;
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 20px;
    padding: 0;
  }

  @include desktop {
    grid-template-columns: 150px 230px 445px 1fr;
    column-gap: 25px;
  }
}

.form__submit-obligatory {
  margin-block-end: 30px;
  font-size: 14px;
  line-height: calc(16 / 14);

  @include tablet {
    font-size: 17px;
    line-height: calc(30 / 17);
    margin: 0;
    justify-self: end;
    align-self: center;
  }

  @include desktop {
    grid-column: 3 / 4;
  }
}

.form__submit-btn {
  @include tablet {
    order: -1;
  }

  @include desktop {
    grid-column: 2 / 3;
  }
}
