.form {
  position: relative;
  padding-block: 51px 121px;

  @include tablet {
    padding-block: 76px 143px;
  }

  @include desktop {
    padding-block: 60px 143px;
    padding-inline: 24px 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    max-width: 100%;
  }
}

.form__field {
  margin-block-end: 32px;

  @include tablet {
    margin-block-end: 49px;
  }

  @include desktop {
    grid-column: 3 / -2;
  }

  &--berry {
    margin-block-end: 32px;

    @include tablet {
      margin-block-end: 50px;
    }

    @include desktop {
      margin-block-end: 56px;
    }
  }

  &--receipt {
    @include tablet {
      margin-block-end: 43px;
    }

    @include desktop {
      margin-block-end: 46px;
    }
  }

  &--storage {
    @include tablet {
      margin-block-end: 49px;
    }
  }

  &--contacts {
    margin-block-end: 32px;

    @include tablet {
      margin-block-end: 39px;
    }

    @include desktop {
      margin-block-end: 46px;
    }
  }
}

.form__submit {
  width: calc(100% - 4px);

  @include tablet {
    width: 336px;
    margin-inline: auto;
  }

  @include desktop {
    grid-column: 2 / -2;
  }
}
