.header {
  background-color: $blue-grey;

  @include tablet {
    box-shadow: 0 4px 4px rgba($dark-purple, 0.25);
  }
}

.header__nav {
  @include tablet {
    @include section-wrapper;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-block: 26px;
  }

  @include desktop {
    padding-block: 28px;
  }
}

.header__toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-block: 13px 11px;
  padding-inline: 28px;
  box-shadow: 0 4px 4px rgba($dark-purple, 0.25);

  @include tablet {
    box-shadow: none;
    padding: 0;
    flex-shrink: 0;
  }
}

.header__logo {
  margin-inline-start: 6px;
}

.header__toggle-menu {
  margin-inline-start: 1px;

  @include tablet {
    display: none;
  }
}
