.link-btn {
  display: block;
  background-color: #63d1bb;
  text-decoration: none;

  &:hover {
    background-color: #59d5bc;
  }
}

.link-btn:nth-of-type(even) {
  background-color: #56c3b2;

  &:hover {
    background-color: #46c1ae;
  }
}

.link-btn__info-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(60px, auto);
  gap: 30px;
  position: relative;
  width: 100%;
  padding: 24px 26px 11px 30px;
  justify-content: space-between;
  column-gap: 30px;
  margin: 0;
  background-color: inherit;

  @include tablet {
    padding: 25px 36px 31px;
  }

  @include desktop {
    padding-block-end: 37px;
  }

  &:hover {
    top: -5px;
  }

  &::after {
    opacity: 0.5;
    display: block;
    justify-self: center;
    align-self: center;
    content: url("../img/icons/lamp.svg");

    @include tablet {
      justify-self: end;
      align-self: end;
    }
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.link-btn:nth-last-of-type(1) .link-btn__info-wrapper::after {
  content: url("../img/icons/toy.svg");
}

.link-btn__text {
  position: relative;
  z-index: 1;
  font-size: 19px;
  line-height: calc(24 / 19);
  font-weight: bold;
  color: $white;
  max-width: 110px;

  @include tablet {
    font-size: 20px;
    line-height: calc(30 / 20);
    max-width: 113px;
    padding-block-end: 13px;
  }
}
