.logo {
  text-decoration: none;
  display: block;
  width: 42px;
  overflow: hidden;

  @include tablet {
    width: auto;
    overflow: auto;
  }
}

.logo__pic {
  height: 44px;
  width: auto;

  @include tablet {
    height: 50px;
  }

  &:hover .logo__pic-leafs,
  &:hover .logo__pic-text path {
    fill: $green-hover;
  }

  &:active .logo__pic-leafs,
  &:active .logo__pic-text path {
    fill: $green-disabled;
  }

  &--active:hover .logo__pic-leafs,
  &--active:hover .logo__pic-text path {
    fill: $green;
  }
}

.logo__pic-text {
  display: none;

  @include tablet {
    display: initial;
  }
}
