.logo {
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active:hover {
    opacity: 1;
    cursor: auto;
  }
}

.logo__pic {
  height: 50px;
  width: auto;

  @include tablet {}

  &:hover .logo__pic-leafs,
  &:hover .logo__pic-text path {
    fill: $green-hover;
  }

  &:active .logo__pic-leafs,
  &:active .logo__pic-text path {
    fill: $green-disabled;
  }


}

.logo__pic-text {
  display: none;

  @include tablet {
    display: initial;
  }

}
