.main-footer {
  background-color: $blue-grey;

  &__wrapper {
    @include section-wrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-block: 17px 20px;

    @include tablet {
      padding-block: 29px 26px;
      align-items: center;
    }

    @include desktop {
      padding-block: 31px 28px;
      align-items: center;
    }
  }

  &__item {
    width: 50%;
    flex-grow: 1;

    @include tablet {
      width: calc(100% / 3);
      flex-grow: 0;
    }
  }

  &__item-logo {
    width: calc(100% / 3);
    flex-grow: 0;
  }

  &__social {
    margin-inline-start: auto;
    margin-block-end: 20px;

    @include tablet {
      margin: 0;
    }
  }

  &__devs {
    margin-inline-start: auto;

    @include tablet {
      margin: 0;
      display: flex;
      justify-content: end;
    }
  }

  &__devs-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: calc(13 / 11);

    @include tablet {
      font-size: 16px;
      line-height: calc(19 / 16);
    }
  }

  &__devs-icon {
    margin-inline-start: 8px;

    @include tablet {
      width: 26px;
      height: 32px;
    }
  }
}
