.map {
  background-color: #ececec;
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.map__replacement {
  object-fit: cover;
  z-index: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 454px;

  @include tablet {
    height: 457px;
  }
}

.map__reference {

  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  display: block;
  height: 100%;
  width: 100%;
}
