.menu {
  position: relative;

  @include reset-list-style;
  padding-block: 16px;
  min-height: 320px;
  background-color: $blue-grey;

  @include tablet {
    max-width: 496px;
    padding-block: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(112px, max-content));
    gap: 16px;
    align-items: center;
    min-height: initial;
  }

  @include desktop {
    grid-template-columns: repeat(4, minmax(132px, max-content));
    max-width: 612px;
    padding-inline-end: 36px;
  }

  &--scriptable {
    z-index: 1;
    position: absolute;
    width: 100%;
    transform: translateY(-5000px);
    // transition-property: transform;
    // transition-duration: 400ms;

    @include tablet {
      position: initial;
      transform: none;
      transition: none;
    }
  }

  &--show {
    transform: translateY(0px);
  }
}

.menu__item {
  padding-inline: 40px;
  padding-block: 16px;

  @include tablet {
    padding: 0;
  }
}

.menu__item-link {
  font-size: 20px;
  line-height: calc(23 / 20);
  color: inherit;
  text-decoration: none;


  &:hover {
    color: $green-hover;
  }

  &:active {
    color: $green;
  }
}
