.page-title {
  background-color: #f1f1f1;
  padding-block-start: 73px;
  padding-block-end: 73px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  margin: 0;

  @include tablet {
    position: relative;
    padding-block-start: 36px;
    padding-block-end: 87px;
  }

  @include desktop {
    padding-block-start: 38px;
    padding-block-end: 113px;
  }
}

.page-title__text {
  color: $black;
  font-size: 27px;
  line-height: calc(30 / 27);
  font-weight: bold;
  display: block;
  text-align: center;

  @include tablet {
    @include section-wrapper;
    font-size: 43px;
    line-height: calc(50 / 43);
  }

  @include desktop {
    font-size: 53px;
    line-height: calc(57 / 53);
  }
}
