.promo {
  background-image: url("../img/background/hero-mobile.jpg");
  background-color: #f9f9f9;
  background-size: 320px 373px;
  background-position: center -19px;
  background-repeat: no-repeat;
  padding-block-start: 73px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/hero-mobile@2x.jpg");
  }

  @include tablet {
    position: relative;
    background-position: center -65px;
    background-image: url("../img/background/hero-tablet.jpg");
    background-size: 768px 746px;
    padding-block-start: 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/hero-tablet@2x.jpg");
    }
  }

  @include desktop {
    background-size: 1150px auto;
    background-position: center -65px;
    background-image: url("../img/background/hero-desktop.jpg");
    padding-block-start: 95px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/hero-desktop@2x.jpg");
    }
  }
}

.promo__title {
  color: $black;
  font-size: 27px;
  line-height: calc(30 / 27);
  font-weight: bold;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: 119px;
  text-align: center;
  max-width: 250px;

  @include tablet {
    font-size: 43px;
    line-height: calc(50 / 43);
    margin-block-end: 372px;
    max-width: 500px;
  }

  @include desktop {
    font-size: 53px;
    line-height: calc(57 / 53);
    margin-block-end: 355px;
    max-width: 620px;
  }
}

.promo__link-btns-wrapper {
  @include tablet {
    @include section-wrapper;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}

.promo__link {
  @include tablet {
    width: 50%;
    flex-grow: 0;
  }
}
