.reviews {
  position: relative;
  background-color: $white;
  padding-block-start: 14px;
  padding-block-end: 46px;

  @include tablet {
    padding-block-start: 80px;
    padding-block-end: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 175px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title title fb"
      "quote quote quote";
    background-image: url("../img/background/review-tablet.jpg");
    background-position: left top;
    background-size: auto calc(434 / 514 * 100%);
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/review-tablet@2x.jpg");
    }
  }

  @include desktop {
    grid-template-columns: 175px repeat(2, 1fr) 175px;
    grid-template-areas:
      ". title title fb"
      ". quote quote quote";
    padding-block-start: 78px;
    padding-block-end: 182px;
    background-position: 50px top;
  }
}

.reviews__title {
  color: $black;
  font-size: 25px;
  line-height: calc(30 / 25);
  margin-block-end: 14px;

  @include tablet {
    margin-block-end: 0;
    font-size: 43px;
    line-height: calc(50 / 43);
    grid-area: title;
    align-self: end;
  }

  @include desktop {
    font-size: 53px;
    line-height: calc(57 / 53);
  }
}

.reviews__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-block-end: 36px;

  @include tablet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    z-index: 1;
    align-self: end;
    grid-column: -1 / -2;
    grid-row: -1 / 2;
    margin-block-end: initial;
  }

  @include desktop {
    margin-block-end: 0;
  }
}

.reviews__slide-btn {
  border: 1px solid #ececec;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 130px;
  height: 52px;
  background-image: url("../img/icons/arrow-l.svg");
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 50px 26px;
  box-shadow: none;

  @include tablet {
    border: none;
    width: 50%;
    height: 54px;
  }

  @include desktop {
    height: 52px;
  }

  &:nth-of-type(2) {
    background-image: url("../img/icons/arrow-r.svg");
    border-inline-start: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__feebback-btn {
  @include tablet {
    align-self: start;
    grid-area: fb;
  }

  @include desktop {
    margin-block-start: 1px;
  }
}
