.social-list {
  @include reset-list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;

  &--right {
    justify-content: flex-end;

    @include tablet {
      justify-content: center;
    }
  }
}

.social-list__item-pic {
  margin: 0;
  padding: 0;
  fill: $green;

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.social-list__item-link {
  vertical-align: middle;
  display: flex;
  align-items: center;

  &:hover .social-list__item-pic {
    fill: $green-hover;
  }

  &:active .social-list__item-pic {
    fill: $green-disabled;
  }
}
