.special {
  overflow: hidden;
  position: relative;
  background-color: $white;
  padding-block-start: 31px;
  padding-block-end: 42px;

  @include tablet {
    display: grid;
    grid-template-columns: 292px repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: space-between;
    align-items: start;
    column-gap: 40px;
    row-gap: 15px;
    grid-template-areas:
      "t t k"
      "d i i"
      "p i i"
      "b i i";
    padding-block-start: 40px;
    padding-block-end: 69px;
  }

  @include desktop {
    padding-block-start: 54px;
    padding-block-end: 96px;
    grid-template-columns: 175px 292px 58px 525px;
    grid-template-rows: minmax(123px, auto) minmax(145px, auto) repeat(2, auto);
    column-gap: 0;
    grid-template-areas:
      "k t . i"
      ". d . i "
      ". p . i"
      ". b . i";
    justify-content: end;
    align-content: start;
  }
}

.special__title {
  color: $black;
  font-size: 25px;
  line-height: calc(30 / 25);
  font-weight: bold;
  margin-block-end: 4px;

  @include tablet {
    max-width: 450px;
    font-size: 43px;
    line-height: calc(50 / 43);
    grid-area: t;
    margin-block-end: rem(34.5);
    align-self: start;
  }

  @include desktop {
    margin: 0;
    max-width: 545px;
    font-size: 53px;
    line-height: calc(57 / 53);
    z-index: 2;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    margin-block-start: 61px;
    align-self: start;
  }
}

.special__category {
  color: #63d1bb;
  font-size: 17px;
  line-height: calc(20 / 17);
  font-weight: bold;
  text-transform: uppercase;
  margin-block-end: 17px;

  @include tablet {
    text-align: center;
    max-width: 80px;
    line-height: calc(17 / 17);
    align-self: start;
    justify-self: center;
    margin-block-start: 7px;
    margin-inline-start: 19px;
  }

  @include desktop {
    margin: 0;
    margin-inline-end: 13px;
    margin-block-start: 69px;
    grid-area: k;
  }
}

.special__desc {
  line-height: calc(24 / 15);
  margin-block-end: 18px;

  @include tablet {
    font-size: 17px;
    line-height: calc(30 / 17);
    align-self: start;
    grid-area: d;
    margin-block-start: -1ex;
    margin-block-end: 0;
  }

  @include desktop {
    margin-block-start: 16px;
    margin-block-end: 0;
  }
}

.special__parametrs {
  margin-block-end: 28px;

  @include tablet {
    grid-area: p;
    align-self: start;
    margin-block-end: 5px;
  }
}

.special__pic-wrapper {
  @include tablet {
    grid-area: i;
    align-self: stretch;
  }
}

.special__pic {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 500px;
  margin-block-end: 28px;
  object-fit: cover;

  @include tablet {
    max-height: 570px;
    margin: 0;
    object-fit: cover;
  }

  @include desktop {
    max-height: none;
  }
}

.special__buy-wrapper {
  @include tablet {
    grid-area: b;
    align-self: end;
  }
}

.special__price {
  font-size: 17px;
  line-height: calc(24 / 17);
  font-weight: bold;
  margin-block-end: 23px;
  text-align: center;

  @include tablet {
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-block-end: 34px;
  }

  @include tablet {
    margin-block-end: 33px;
  }
}
