.video-review {
  background-color: $white;
}

.video-review__wrapper {
  @include section-wrapper;
  display: flex;
  flex-direction: column;
  padding-block-start: 10px;
  padding-block-end: 57px;

  @include tablet {
    padding-block-start: 43px;
    padding-block-end: 64px;
  }

  @include desktop {
    display: grid;
    align-items: stretch;
    grid-template-columns: 682px 1fr;
    grid-template-rows: minmax(100px, auto) 1fr;
    grid-template-areas:
      "vid-img vid-title"
      "vid-img vid-text";
    padding-block-start: 27px;
    padding-block-end: 105px;
  }
}

.video-review__pic-wrapper {
  position: relative;

  @include desktop {
    grid-area: vid-img;
  }
}

.video-review__pic {
  display: block;
  width: 100%;

  @include tablet {
    height: 455px;
    object-fit: cover;
  }

  @include desktop {
    object-fit: cover;
  }
}

.video-review__play-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: block;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;

  @include desktop {
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover .video-review__btn-pic {
    transform: scale(120%);
  }

  &:active .video-review__btn-pic {
    transform: initial;
    opacity: 0.8;
  }
}

.video-review__btn-pic {
  display: block;
  margin: 0;
}

.video-review__title {
  display: flex;
  align-items: center;
  padding-inline-start: 33px;
  padding-inline-end: 25px;
  gap: 25px;
  order: -1;
  position: relative;
  padding-block-start: 23px;
  padding-block-end: 26px;
  border: 1px solid #ececec;
  border-block-end: none;

  @include tablet {
    padding-block-start: 42px;
    padding-block-end: 12px;
    padding-inline-start: 42px;
    padding-inline-end: 42px;
    order: initial;
    border-block-start: none;
    gap: 32px;
  }

  @include desktop {
    flex-direction: column;
    align-items: flex-start;
    grid-area: vid-title;
    padding-block-start: 47px;
    padding-block-end: 10px;
    padding-inline-start: 80px;
    border: none;
    border-block-start: 1px solid #ececec;
    border-inline-end: 1px solid #ececec;
    gap: 27px;
  }

  &::before {
    display: block;
    content: url("../img/icons/cam.svg");
    object-fit: contain;
    width: 32px;
    height: 22px;

    @include tablet {
      margin-block-start: rem(-7);
    }

    @include desktop {
      margin-block-start: 0;
    }
  }
}


.video-review__text-wrapper {
  padding-block-start: 35px;
  padding-block-end: 33px;
  border: 1px solid #ececec;
  border-block-start: none;

  @include tablet {
    padding-inline-start: 39px;
    padding-inline-end: 39px;
    padding-block-end: 46px;
    padding-block-start: 12px;
  }

  @include desktop {
    grid-area: vid-text;
    padding-block-start: 17px;
    padding-block-end: 37px;
    padding-inline-start: 80px;
    padding-inline-end: 55px;
    border: none;
    border-block-end: 1px solid #ececec;
    border-inline-end: 1px solid #ececec;
  }
}

.video-review__title-text {
  display: block;
  color: $black;
  font-size: 17px;
  line-height: calc(24 / 17);
  font-weight: bold;
  max-width: 130px;

  @include tablet {
    font-size: 20px;
    line-height: calc(24 / 20);
    max-width: 270px;
  }

  @include desktop {
    max-width: 150px;
  }
}

.video-review__text {
  font-size: 13px;
  line-height: calc(24 / 13);
  width: calc(239 / 320 * 100%);
  margin: 0 auto;
  margin-block-end: 40px;

  @include tablet {
    font-size: 15px;
    line-height: calc(30 / 15);
    width: 100%;
  }

  @include desktop {
    margin-block-end: 51px;
  }
}

.video-review__link {
  width: calc(239 / 320 * 100%);
  margin: 0 auto;

  @include tablet {
    width: calc(664 / 668 * 100%);
  }

  @include desktop {
    width: 100%;
  }
}
