.wave {
  background-color: none;

  &::after {
    @include tablet {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 100%;
      height: 24px;
      content: "";
      background-image: url("../img/icons/wave-tablet.svg");
      background-color: transparent;
      background-position: center;
      background-size: auto;
      border: none;
    }

    @include desktop {
      height: 30px;
      background-size: 57px auto;
      background-image: url("../img/icons/wave-desktop.svg");
    }
  }

  &--promo::after {
    @include desktop {
      background-size: 63px auto;
      height: 34px;
    }
  }
}
