.window-background {
  display: none;
  overflow-y: auto;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);

  &--show {
    display: initial;
  }

  &--normal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.window-background__modal {
  position: absolute;
  bottom: 10%;

  @include tablet {
    left: 50%;
    transform: translateX(-50%);
  }

  &--normal {
    position: initial;
    transform: initial;
  }
}
