// devices
$mobile-min: 0;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1439px;
$desktop-width: 1440px;
$initial-font-size: 16;
$root-font-size: 14;
$heading-line-height: 1.86;

$scroll-width: 16px;

$white: #ffffff;
$black: #000000;
$green: #0f805d;
$green-hover: #7bdb0a;
$green-disabled: rgba(#0f805d, 0.5);
$dark-purple: #580d65;
$purple: #6a107a;
$purple-hover: #b22ec8;
$purple-disabled: rgba(#6a107a, 0.6);
$blue-grey: #f1f6fc;
$leaf-grey: rgba(#8e9892, 0.7);
$error: #ff8282;
// font parametrs
